<div id="log-in" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
    <div class="uk-grid-collapse uk-flex-middle" uk-grid>
      <div class="uk-width-2-3 uk-background-muted" uk-height-viewport></div>
      <div class="uk-width-1-3 uk-padding-large">
        <h3>Inicia sesión en EHM</h3>
        <form class="uk-form-stacked">
          <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Usuario o correo eletrónico</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="form-stacked-text" type="text" autofocus>
            </div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Contraseña</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="form-stacked-text" type="password">
            </div>
            <a class="uk-text-small" href="">¿Olvidaste la contraseña?</a>
          </div>
          <button class="uk-button uk-button-large uk-button-primary uk-text-bold uk-width-1-1">Iniciar Sesión</button>
        </form>
      </div>
    </div>
  </div>
</div>